.navbar-brand {
    width: 20%;
    text-align: center;
}

#links-in-nav {
    margin: auto;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    /* Show Name in navbar to full width */
    .navbar {
        padding: 0.5rem 0px;
    }
    
    .navbar-brand {
        width: 100%;
        text-align: center;
        margin: auto;
    }
    
    /* show links in the navbar in single row */
    #links-in-nav {
        flex-direction: row;  
    }

    /* margins in between navbar links */
    #navbarNavAltMarkup {
        margin: auto 25%;
    }

    .nav-item {
        margin: auto 20px;

    }
}