footer {
    color: white;
    background-color: dimgray;
    border-top: 5px solid rgb(5, 124, 124);
    bottom: 0;
    position: absolute;
    width: 100%;
}

.bd-footer-links li {
    display: inline;
    margin-left: 1rem;
}